* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

nav {
  .links {
    div:hover {
      transition: 0.3s;
      background-color: rgba(255, 255, 255, 0.288);
      border-radius: 10px;
    }
    .pages {
      .dropdown-menu {
        .dropdown:hover {
          .dropdown-menu {
            display: inline;
          }
        }
      }
    }
  }
}
.one {
  .two:hover {
    background-color: rgba(128, 128, 128, 0.573);
  }

  button:hover {
    opacity: 0.8;
  }
}

.second {
  .main-11 {
    .row {
      .colomn-1 {
        .left-side {
          .all {
            height: 300px;
            .li-2 {
              height: 100px;
            }

            .li-1 {
              height: 85px;
            }

            .li-0 {
              height: 70px;
            }
          }
        }
      }

      .colomn-2 {
        .right-side {
          .par {
            height: 338px;
          }
        }
      }
    }
  }
}
