* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  li {
    list-style: none;
  }
}
nav .links div:hover {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 10px;
}
nav .links .pages .dropdown-menu .dropdown:hover .dropdown-menu {
  display: inline;
}

.one .two:hover {
  background-color: rgba(128, 128, 128, 0.573);
}
.one button:hover {
  opacity: 0.8;
}

.second .main-11 .row .colomn-1 .left-side .all {
  height: 300px;
}
.second .main-11 .row .colomn-1 .left-side .all .li-2 {
  height: 100px;
}
.second .main-11 .row .colomn-1 .left-side .all .li-1 {
  height: 85px;
}
.second .main-11 .row .colomn-1 .left-side .all .li-0 {
  height: 70px;
}
.second .main-11 .row .colomn-2 .right-side .par {
  height: 338px;
}

.three .main-12 .table-div table tbody td:hover {
  background-color: gray;
}

/* ****** charts page ********** */

.parent .second .main-11 .colomn-2 .right-side .colors .mark-1 .blue {
  width: 40px;
  height: 13px;
}

.parent .second .main-11 .colomn-2 .right-side .colors .mark-1 .red {
  width: 40px;
  height: 13px;
}

.parent .second .main-11 .colomn-2 .right-side .colors .mark-1 .yellow {
  width: 40px;
  height: 13px;
}

.parent .second .main-11 .colomn-2 .right-side .colors .mark-1 .green {
  width: 40px;
  height: 13px;
}

/* ****circle******* */

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color {
  width: 282px;
  height: 282px;
  border-radius: 50%;
}

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color div:hover {
  opacity: 0.8;
  cursor: pointer;
}

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color .green {
  width: 120px;
  height: 120px;
}

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color .blue {
  width: 160px;
  height: 120px;
}

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color .red {
  width: 160px;
  height: 160px;
}

.parent .second .main-11 .colomn-2 .right-side .circle .circle-color .yellow {
  width: 120px;
  height: 160px;
}

/* error 401 */

.main .row-88 .column-1 .error .word {
  h1 {
    font-size: 80px;
  }
}

/* scrollbar color */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
}
