.footer {
  .container {
    .row {
      .column-77 {
        .center {
          div {
            width: 40px;
            height: 40px;
            i {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
}
