nav .container img {
  width: 140px;
}
nav .container .links-1 ul > li a {
  font-size: 16px;
}
nav .container .links-1 ul > li a:hover {
  color: gold;
}

.first {
  height: 100vh;
  background-image: url(../..//app/img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}
.first .first-con .word h1 {
  font-size: 80px;
}
.first .first-con .word h3 {
  font-family: "Josefin Slab", serif;
}
.first .first-con .word a:hover {
  opacity: 0.9;
}

.services .container > .header h1 {
  font-size: 40px;
}
.services .container > .header p {
  font-family: "Josefin Slab", serif;
}
.services .container .row .column-55 .card .icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: gold;
}
.services .container .row .column-55 .card .icon i {
  font-size: 70px;
}

.portfolio .container .header h1 {
  font-size: 40px;
}
.portfolio .container .header p {
  font-family: "Josefin Slab", serif;
}
.portfolio .container .row .column_100 .card-body p {
  font-family: "Josefin Slab", serif;
}
.portfolio .container .row .column_100 .card .images:hover::before {
  cursor: pointer;
  content: " + ";
  position: absolute;
  z-index: 10;
  background-color: gold;
  width: 100%;
  height: 81.4%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: white;
}

.about .container .header {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "h1 h1 h1 " "p p p";
  gap: 0px 50px;
}
.about .container .header h1 {
  grid-area: h1;
  text-align: center;
}
.about .container .header p {
  text-align: center;
  grid-area: p;
}
.about .container .row {
  margin: 0px auto;
  position: relative;
}
.about .container .row .column-one .elements {
  display: flex;
  margin-bottom: 100px;
  gap: 50px;
}
.about .container .row .column-one .elements .word {
  margin-top: 20px;
}
.about .container .row .column-one .elements .word h3 {
  text-align: end;
}
.about .container .row .column-one .elements .word p {
  text-align: end;
}
.about .container .row .column-one .elements .img {
  margin-right: 550px;
}
.about .container .row .column-one .elements .img img {
  width: 170px;
  height: 170px;
}
.about .container .row .column-one-1 .elements {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about .container .row .column-one-1 .elements .img {
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container .row .column-one-1 .elements .img p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.about .container .row .column-two .elements {
  display: flex;
  margin-bottom: 100px;
  gap: 50px;
}
.about .container .row .column-two .elements .word {
  margin-top: 20px;
}
.about .container .row .column-two .elements .word h3 {
  text-align: start;
}
.about .container .row .column-two .elements .word p {
  text-align: start;
}
.about .container .row .column-two .elements .img {
  margin-left: 550px;
}
.about .container .row .column-two .elements .img img {
  width: 170px;
  height: 170px;
}

@media (max-width: 1400px) {
  .about .container .row::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 85%;
    background-color: gray;
    left: 11%;
    z-index: -1;
    margin: 0px auto;
    display: none;
  }
  .about .container .row .column-one .elements {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    gap: 25px;
  }
  .about .container .row .column-one .elements .word h3 {
    text-align: start;
  }
  .about .container .row .column-one .elements .word p {
    text-align: start;
  }
  .about .container .row .column-one .elements .img {
    margin-top: 10px;
    margin-right: 0px;
  }
  .about .container .row .column-one .elements .img img {
    width: 90px;
    height: 90px;
  }
  .about .container .row .column-one-1 .elements {
    display: flex;
    justify-content: start;
  }
  .about .container .row .column-one-1 .elements .img {
    width: 90px;
    height: 90px;
  }
  .about .container .row .column-one-1 .elements .img p {
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
  .about .container .row .column-two .elements {
    display: flex;
    margin-bottom: 100px;
    gap: 25px;
  }
  .about .container .row .column-two .elements .word h3 {
    text-align: start;
  }
  .about .container .row .column-two .elements .word p {
    text-align: start;
  }
  .about .container .row .column-two .elements .img {
    margin-top: 10px;
    margin-left: 0px;
  }
  .about .container .row .column-two .elements .img img {
    width: 90px;
    height: 90px;
  }
}
.team .container .header h1 {
  font-size: 50px;
  font-weight: bold;
}
.team .container .header p {
  font-weight: bold;
  font-family: "Josefin Slab", serif;
}
.team .container .row .column-66 .info p {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 20px;
}
.team .container .row .column-66 .social .link {
  width: 40px;
  height: 40px;
}
.team .container .row .column-66 .social .link i {
  margin-top: 11px;
}
.team .container .row .column-66 .social .link:hover {
  cursor: pointer;
  opacity: 0.9;
}
.team .footer p {
  font-family: "Josefin Slab", serif;
}

.contact {
  height: 100%;
  background-image: url(../..//app/img/map-image.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contact .container .row .column-102 textarea {
  width: 100%;
  height: 230px;
}
.contact .container .row .column-102 .personal-detals .info .input-group {
  height: 65px;
}

.footer .container .row .column-77 .center div {
  width: 40px;
  height: 40px;
}
.footer .container .row .column-77 .center div i {
  margin-top: 12px;
}/*# sourceMappingURL=style.css.map */